*
{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'arial', sans serif;
}
header
{
	position: absolute;
	top: 20;
	right: 20;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
header ul li
{
	list-style: none;
	margin-left: 20px; 
}
header ul li a
{
	color: #111;
	font-size: 13px;
	text-decoration: none;
}
header ul li button
{
	background: #4584ef;
	border: none;
	border-radius: 3px;
	outline: none;
	padding: 8px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}
div
{
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div2
{	
	width: 500px;
	margin-left: 470px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 1px solid #ccc;
	outline: none;
	font-size: 16px;
}
div3
{
	position: absolute;
	margin-left: 480px;
	margin-top: -30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
div4 
{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}
div4 button
{
	margin-top: 20px;
	padding: 12px 15px;
	color: #555;
	background: #F2F3F4;
	font-size: 13px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid transparent;
}
div5 p
{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	font-size: 13px;
}
div6 
{
	margin-top: 340px;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: baseline;
	width: 100%;
	background: #f2f2f2;
}
div6 p
{
	font-size: 14px;
	color: #5f6368;
	margin-top: 15px;
	margin-left: 15px;
}
div7 ul 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	background: #f2f2f2;
	width: 100%;
}
div7 ul li
{
	list-style: none;
	margin-top: 15px;
	margin-left: 15px;
}
div7 ul li a
{
	text-decoration: none;
	font-size: 14px;
	color: #5f6368;
	margin-right: 20px;
}
div8 p2 a
{   
	display: flex;
	justify-content: center;
	background: #f2f2f2;
	color: #5f6368;
	font-size: 14px;
	margin-top: -17px;
	margin-right: 30px;
	margin-left: 30px;
	width: 100%;
	text-decoration: none;
}
div9 ul2 
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	background: #f2f2f2;
	width: 100%;
}
div9 ul2 li
{
	list-style: none;
	margin-top: -17px;
	margin-right: 15px;
	margin-bottom: 20px;
}
div9 ul2 li a
{
	text-decoration: none;
	font-size: 14px;
	color: #5f6368;
	margin-right: 20px;
}
